@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Jost:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'DM Mono', 'Arial';
  color: #FFFFFF;
}

#root {
  background-color: #1D1C1C;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100%;
  padding: 25px 0px;
  background-color: #272727;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 24px;
  padding-left: 10px;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

form {
  border: 1px solid #A3A3A3;
  border-radius: 10px;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

select {
  border: 1px solid white;
  border-radius: 10px;
  width: 30vw;
  background-color: transparent;
  padding: 15px 10px;
}

button {
  color: #000000;
  background-color: #D9D9D9;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}


.buttons {
  display: flex;
  gap: 10px;
}

.input-infos {
  display: flex;
  gap: 10px;
}

.selected-option {
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: 14px;
}
